<div class="container-fluid d-flex flex-column align-items-center">
  <div class="flight-list list-group list-group-flush pb-5">
    <h3 class="pt-2 pb-2">Search for a flight!</h3>
    <div class="py-3" layout="row"></div>
    <mat-slide-toggle [(ngModel)]="RoundTrip">{{
      RoundTrip ? "Round Trip" : "One Way"
    }}</mat-slide-toggle>
    <div>
      <mat-spinner *ngIf="loading"></mat-spinner>
      <mat-form-field class="filtro px-3" appearance="fill">
        <mat-label>From</mat-label>
        <mat-select (selectionChange)="Origin = $event.value">
          <mat-option value="Caracas">Caracas</mat-option>
          <mat-option value="Madrid">Madrid</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filtro px-3" appearance="fill">
        <mat-label>To</mat-label>
        <mat-select (selectionChange)="Destination = $event.value">
          <mat-option value="Caracas">Caracas</mat-option>
          <mat-option value="Madrid">Madrid</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filtro px-3" appearance="fill">
        <mat-label>Departue</mat-label>
        <input matInput [matDatepicker]="Picker1" [(ngModel)]="DateP1" />
        <mat-datepicker-toggle
          matSuffix
          [for]="Picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #Picker1></mat-datepicker>
      </mat-form-field>
      <span *ngIf="RoundTrip">
        <mat-form-field class="filtro px-3" appearance="fill">
          <mat-label>Return</mat-label>
          <input matInput [matDatepicker]="Picker2" [(ngModel)]="DateP2" />
          <mat-datepicker-toggle
            matSuffix
            [for]="Picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #Picker2></mat-datepicker>
        </mat-form-field>
      </span>
      <button
        mat-flat-button
        color="primary"
        (click)="
          RoundTrip
            ? searchRound(Origin, Destination, DateP1, DateP2)
            : searchOneWay(Origin, Destination, DateP1)
        "
      >
        Search <mat-icon>search</mat-icon>
      </button>
    </div>
    <h3 class="pt-2 pb-2">Going</h3>
    <div
      class="list-group-item list-group-item-action"
      aria-current="true"
      *ngFor="let flight of Flights; index as i"
    >
      <div class="d-flex justify-content-around align-items-center">
        <div class="text-center">
          <h4>{{ listDate(flight.departure) }}</h4>
          <h4>{{ flight.origin }}</h4>
        </div>
        <div class="text-center">
          <h5>Duration</h5>
          <h4>{{ flight.duration }}</h4>
        </div>
        <div class="text-center">
          <h4>{{ listDate(flight.arrival) }}</h4>
          <h4>{{ flight.destination }}</h4>
        </div>
        <div class="text-center">
          <h5>Flight</h5>
          <h4>{{ flight.flightNumber }}</h4>
          <h4>{{ flight.price }}$</h4>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <button mat-flat-button color="primary">Book Now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="flight-list list-group list-group-flush pb-5">
    <mat-spinner *ngIf="loading2"></mat-spinner>
    <h3 class="pt-2 pb-2">Return</h3>
    <div
      class="list-group-item list-group-item-action"
      aria-current="true"
      *ngFor="let flight of ReturnFlights; index as i"
    >
      <div class="d-flex justify-content-around align-items-center">
        <div class="text-center">
          <h4>{{ listDate(flight.departure) }}</h4>
          <h4>{{ flight.origin }}</h4>
        </div>
        <div class="text-center">
          <h5>Duration</h5>
          <h4>{{ flight.duration }}</h4>
        </div>
        <div class="text-center">
          <h4>{{ listDate(flight.arrival) }}</h4>
          <h4>{{ flight.destination }}</h4>
        </div>
        <div class="text-center">
          <h5>Flight</h5>
          <h4>{{ flight.flightNumber }}</h4>
          <h4>{{ flight.price }}$</h4>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <button mat-flat-button color="primary">Book Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
